* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: hsl(210, 36%, 96%);
}
nav {
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.container {
  padding: 1rem 1rem;
}
.menu {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}
.menu li {
  list-style: none;
  text-transform: capitalize;
  font-size: 18px;
  letter-spacing: 3px;
  margin-top: 20px;
}
.menu a {
  text-decoration: none;
  color: hsla(60, 91%, 17%, 0.931);
}
.menu a:hover {
  cursor: pointer;
  color: hsla(60, 86%, 42%, 0.931);
  transition: 0.3s;
}
.network {
  display: none;
}
.network li {
  list-style: none;
  margin: 0 10px;
}
.logo {
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 3px;
}
.logo span {
  color: hsla(60, 86%, 42%, 0.931);
}
.network i:hover {
  transform: scale(1.2);
  transition: 0.4s;
}
.toggle {
  font-size: 29px;
  border: none;
  background-color: #fff;
  display: block;
  color: #000;
}
.toggle:hover {
  transform: rotate(90deg);
  transition: 0.8s;
  cursor: pointer;
  color: hsla(60, 78%, 37%, 0.931);
}
.nav-header {
  display: flex;
  justify-content: space-between;
}
.show-links {
  height: 11rem;
}

/* Responsive */
@media screen and (min-width: 900px) {
  .container {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .toggle {
    display: none;
  }
  .menu {
    display: flex;
    height: auto;
  }
  .menu li {
    margin: 0 10px;
  }
  .network {
    display: flex;
  }
}
