* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(210, 36%, 96%);
  font-family: "Roboto", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.underline {
  background-color: hsl(205, 78%, 60%);
  height: 5px;
  width: 80px;
}
.title h2 {
  text-transform: capitalize;
  font-size: 40px;
  letter-spacing: 3px;
  margin-bottom: 8px;
}
/* Reviews/Comments section */
.review {
  margin-top: 70px;
  width: 640px;
  height: 430px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
  box-shadow: 0px 3px 19px 5px rgba(218, 216, 216, 0.49);
}
.img-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 20px;
  position: relative;
}
.img-container i {
  position: absolute;
  color: #fff;
  top: 20px;
  left: 10px;
  z-index: 3;
  font-size: large;
}
.img-container::before {
  content: "";
  background-color: hsl(205, 65%, 54%);
  position: absolute;
  top: -4px;
  left: 9px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.img-container::after {
  content: "";
  background-color: hsl(205, 86%, 64%);
  position: absolute;
  z-index: 2;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 9px;
  left: -2px;
}
#person-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  z-index: 1;
  position: relative;
}
#author {
  margin-top: 23px;
  letter-spacing: 2px;
  font-size: 19px;
  color: hsl(209, 61%, 16%);
  text-transform: capitalize;
}
#job {
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  color: hsl(205, 71%, 43%);
  margin-bottom: 15px;
}
#info {
  width: 550px;
  font-size: 16px;
  color: hsl(210, 22%, 49%);
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: center;
}
.prev-btn,
.next-btn {
  margin-top: 15px;
  font-size: 21px;
  background-color: transparent;
  border: none;
  padding: 0 7px;
  color: hsl(205, 77%, 73%);
}
.prev-btn:hover,
.next-btn:hover {
  cursor: pointer;
  color: hsl(204, 67%, 48%);
  transition: 0.4s;
}
.random-btn {
  margin-top: 18px;
  text-transform: capitalize;
  padding: 3px 8px;
  font-size: 15px;
  background-color: hsl(205, 100%, 96%);
  border-radius: 7px;
  color: hsl(205, 94%, 55%);
  border-color: hsl(205, 53%, 57%);
  border: solid;
}
.random-btn:hover {
  background-color: hsl(204, 87%, 59%);
  cursor: pointer;
  color: hsl(205, 100%, 96%);
  transition: 0.5s;
}
